.main {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  gap: 2%;
}

.main-left {
  width: 19%;
}

.main-right {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 79%;
  grid-gap: 20px 10px;
}
